﻿<div class="row">
    <div class="col-md-12 center-block">
        <hgroup class="mb20">
            <h1>Search Results</h1>
            <h2 class="lead">
                <strong class="text-danger">{{events.length}}</strong> results were found for 
                <strong class="text-danger">{{initialSearch}}</strong>
            </h2>
        </hgroup>
        <section class="col-xs-12 col-sm-6 col-md-12" style="padding:0;">
            <article class="search-result row panel panel-default" ng-repeat="event in events">
                <div class="overlay" ng-click="viewEvent(event.item.ID)"></div>
                <h3 class="text-center event-status-search">
                    <span ng-if="event.item.EventStatus == 'Draft'" class="label label-info">{{event.item.EventStatus}}</span>
                    <span ng-if="event.item.EventStatus == 'Pending Approval'" class="label label-warning">In Review</span>
                    <span ng-if="event.item.EventStatus == 'Published'" class="label label-success">{{event.item.EventStatus}}</span>
                    <span ng-if="event.item.EventStatus == 'Rejected'" class="label label-danger">In Review</span>
                    <span ng-if="event.item.EventStatus == 'Cancelled'" class="label label-danger">{{event.item.EventStatus}}</span>
                </h3>
                <h3 ng-if="event.item.ParentEvent" class="text-center event-type-search">
                    <span class="label label-primary">*Sub-Event</span>
                </h3>
                <div class="col-xs-12 col-sm-12 col-md-2">
                    <div class="thumbnail thumbnail-cropped">
                        <img class="img-responsive" alt="a" ng-src="{{event.item.Image}}" />
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-3">
                    <ul class="meta-search">
                        <li><i class="glyphicon glyphicon-calendar"></i> 
                            <span>{{event.item.EventStart | date: 'dd/MM/yyyy'}} - {{event.item.EventEnd | date: 'dd/MM/yyyy'}}</span>
                        </li>
                        <li><i class="glyphicon glyphicon-time"></i> <span>{{event.item.EventStart | date: 'hh:mm a'}} - {{event.item.EventEnd | date: 'hh:mm a'}}</span></li>
                        <li><i class="glyphicon glyphicon-tags"></i> <span class="search-highlight">{{event.item.EventType}}</span></li>
                        <li><i class="glyphicon glyphicon-globe"></i> <span class="search-highlight">{{event.item.ParentLocation}}</span></li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-7 excerpet">
                    <h3 class="search-highlight">{{event.item.Title}}</h3>
                    <p class="search-highlight">{{event.item.EventSummary | limitTo: 200}}{{event.item.EventSummary.length > 200 ? '...' : ''}}</p>
                </div>
                <span class="clearfix borda"></span>
            </article>
        </section>
    </div>
</div>