﻿<div class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Attendee Information</h4>
            </div>
            <div class="modal-body">
                <table class="table table-striped">
                    <tbody>
                        <tr>
                            <th>Name</th>
                            <td>{{currentAttendee.FirstName}} {{currentAttendee.LastName}}</td>
                        </tr>
                        <tr>
                            <th>Company</th>
                            <td>{{currentAttendee.Company}}</td>
                        </tr>
                        <tr>
                            <th>Job Title</th>
                            <td>{{currentAttendee.JobTitle}}</td>
                        </tr>
                        <tr>
                            <th>Manager</th>
                            <td>{{currentAttendee.Manager}}</td>
                        </tr>
                        <tr>
                            <th>Email</th>
                            <td>{{currentAttendee.EmailAddress}}</td>
                        </tr>
                        <tr>
                            <th>Registered By</th>
                            <td>{{currentAttendee.RegisteredBy}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" ng-click="cancel()" class="btn btn-primary">Close</button>
            </div>
        </div>
    </div>
</div>