﻿<div class="col-md-10 col-sm-12 center-block" style="margin-bottom:30px;">
    <div ng-if="event.EventStatus == 'Rejected'" class="row">
        <div class="col-md-12">
            <div style="margin-bottom:0;" class="alert alert-danger" role="alert">
                <strong>Rejected because: "</strong>{{event.RejectMessage}}"
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 col-print-10">
            <div class="hidden-lg hidden-md hidden-sm hidden-print">
                <h3 ng-if="!event.ParentEvent">
                    <span ng-if="event.EventStatus == 'Draft'" class="label label-info">{{event.EventStatus}}</span>
                    <span ng-if="event.EventStatus == 'Pending Approval'" class="label label-warning">{{event.EventStatus}}</span>
                    <span ng-if="event.EventStatus == 'Published'" class="label label-success">{{event.EventStatus}}</span>
                    <span ng-if="event.EventStatus == 'Rejected'" class="label label-danger">{{event.EventStatus}}</span>
                    <span ng-if="event.EventStatus == 'Cancelled'" class="label label-danger">{{event.EventStatus}}</span>
                </h3>
                <h3 ng-if="event.ParentEvent">
                    <span ng-if="parentEventObj.EventStatus == 'Draft'" class="label label-info">{{parentEventObj.EventStatus}}</span>
                    <span ng-if="parentEventObj.EventStatus == 'Pending Approval'" class="label label-warning">{{parentEventObj.EventStatus}}</span>
                    <span ng-if="parentEventObj.EventStatus == 'Published'" class="label label-success">{{parentEventObj.EventStatus}}</span>
                    <span ng-if="parentEventObj.EventStatus == 'Rejected'" class="label label-danger">{{parentEventObj.EventStatus}}</span>
                    <span ng-if="parentEventObj.EventStatus == 'Cancelled'" class="label label-danger">{{parentEventObj.EventStatus}}</span>
                </h3>
            </div>
            <h2>
                {{event.Title}} <br>
                &nbsp;&nbsp;
                <small ng-if="event.ParentEvent">
                    Sub-Event of:
                    <a href="#events/{{parentEventObj.ID}}/view">{{parentEventObj.Title}}</a>
                </small>
            </h2>
            <a ng-if="event.EventStatus != 'Pending Approval' && event.EventStatus != 'Published' && !event.ParentEvent" href="#events/{{event.ID}}/edit" class="btn">
                <i class="glyphicon glyphicon-pencil"></i>
                <span>Edit Event</span>
            </a>
            <a ng-if="event.ParentEvent && (parentEventObj.EventStatus == 'Draft' || parentEventObj.EventStatus == 'Rejected')"
               href="#events/{{event.ID}}/edit/{{event.ParentEvent}}" class="btn">
                <i class="glyphicon glyphicon-pencil"></i>
                <span>Edit Event</span>
            </a>
            <a ng-if="!event.ParentEvent && event.EventStatus == 'Published' && event.IsApprover"
               href="" ng-click="unlockEvent($event)" class="btn">
                <i class="glyphicon glyphicon-edit"></i>
                <span>Unlock for Editing</span>
            </a>
            
            <a ng-if="event.EventStatus == 'Draft' && !event.ParentEvent" href="" ng-click="submitEvent($event)" class="btn">
                <i class="glyphicon glyphicon-file"></i>
                <span>Submit for Approval</span>
            </a>
            <a ng-if="event.EventStatus == 'Pending Approval' && event.IsApprover && !event.ParentEvent" href=""
               ng-click="approveEvent($event, true)" class="btn">
                <i class="glyphicon glyphicon-ok"></i>
                <span>Approve</span>
            </a>
            <a ng-if="event.EventStatus == 'Pending Approval' && event.IsApprover && !event.ParentEvent" href=""
               ng-click="approveEvent($event, false)" class="btn">
                <i class="glyphicon glyphicon-remove"></i>
                <span>Reject</span>
            </a>
            <a ng-if="!event.ParentEvent" href="#events/calendar/{{event.ID}}" class="btn">
                <i class="glyphicon glyphicon-calendar"></i>
                <span>View on Calendar</span>
            </a>
            <a ng-if="event.ParentEvent" href="#events/calendar/{{event.ParentEvent}}" class="btn">
                <i class="glyphicon glyphicon-calendar"></i>
                <span>View on Calendar</span>
            </a>
            <a ng-if="event.ParentEvent && parentEventObj.EventStatus == 'Draft'"
               href="" ng-click="removeEvent($event)" class="btn">
                <i class="glyphicon glyphicon-trash"></i>
                <span>Remove Event</span>
            </a>
            <a ng-if="!event.ParentEvent && event.EventStatus == 'Draft'"
               href="" ng-click="removeEvent($event)" class="btn">
                <i class="glyphicon glyphicon-trash"></i>
                <span>Remove Event</span>
            </a>
        </div>
        <div class="col-md-2 col-print-2 hidden-xs">
            <h3 ng-if="!event.ParentEvent">
                <span ng-if="event.EventStatus == 'Draft'" class="label label-info pull-right">{{event.EventStatus}}</span>
                <span ng-if="event.EventStatus == 'Pending Approval'" class="label label-warning pull-right">{{event.EventStatus}}</span>
                <span ng-if="event.EventStatus == 'Published'" class="label label-success pull-right">{{event.EventStatus}}</span>
                <span ng-if="event.EventStatus == 'Rejected'" class="label label-danger pull-right">{{event.EventStatus}}</span>
                <span ng-if="event.EventStatus == 'Cancelled'" class="label label-danger pull-right">{{event.EventStatus}}</span>
            </h3>
            <h3 ng-if="event.ParentEvent">
                <span ng-if="event.ParentEvent.EventStatus == 'Draft'" class="label label-info pull-right">{{event.ParentEvent.EventStatus}}</span>
                <span ng-if="event.ParentEvent.EventStatus == 'Pending Approval'" class="label label-warning pull-right">{{event.ParentEvent.EventStatus}}</span>
                <span ng-if="event.ParentEvent.EventStatus == 'Published'" class="label label-success pull-right">{{event.ParentEvent.EventStatus}}</span>
                <span ng-if="event.ParentEvent.EventStatus == 'Rejected'" class="label label-danger pull-right">{{event.ParentEvent.EventStatus}}</span>
                <span ng-if="event.ParentEvent.EventStatus == 'Cancelled'" class="label label-danger pull-right">{{event.ParentEvent.EventStatus}}</span>
            </h3>
        </div>
        <div class="clearfix"></div>
    </div>
    <hr class="hidden-sm hidden-xs" />
    <div class="row">
        <div class="col-md-6 col-sm-12 col-print-6">
            <p class="hidden-sm hidden-xs">
                {{event.EventSummary}}
            </p>
            <p class="hidden-lg hidden-md" style="padding: 15px 0">
                {{event.EventSummary}}
            </p>
        </div>
        <div class="col-md-6 col-sm-12 col-print-6">
            <table class="table">
                <tbody>
                    <tr>
                        <th>Start Date</th>
                        <td>{{event.EventStart | date: "dd MMMM yyyy h:mm a"}}</td>
                    </tr>
                    <tr>
                        <th>End Date</th>
                        <td>{{event.EventEnd | date: "dd MMMM yyyy h:mm a"}}</td>
                    </tr>
                    <tr>
                        <th>Type</th>
                        <td>{{event.EventType}}</td>
                    </tr>
                    <tr>
                        <th>Location</th>
                        <td>{{event.ParentLocation}}</td>
                    </tr>
                    <tr ng-if="!event.ParentEvent">
                        <th>Approvers</th>
                        <td>
                            <h4 class="event-participant" ng-repeat="user in event.NominatedApprovers">
                                <span class="label label-primary">
                                    <span class="glyphicon glyphicon-user"></span>
                                    {{user.get_lookupValue()}}
                                </span>
                            </h4>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="row" ng-if="!event.ParentEvent">
        <hr class="hidden-sm hidden-xs" />
        <div class="col-md-10 col-print-12">
            <h3 style="margin-top: 8px;">Sub-Events</h3>
        </div>
        <div class="col-md-2 hidden-print">
            <a ng-if="event.EventStatus != 'Pending Approval' && event.EventStatus != 'Published'" href="#events/new/parent/{{event.ID}}" class="btn btn-lg pull-right">
                <i class="glyphicon glyphicon-plus"></i>
                <span>Add Sub-Event</span>
            </a>
        </div>
        <div class="clearfix"></div>
        <div class="col-md-12">
            <ul class="list-group" ng-if="!event.SubEvents">
                <li class="list-group-item">There are no sub-events for this event.</li>
            </ul>
            <div class="list-group" ng-if="event.SubEvents">
                <a ng-repeat="subEv in event.SubEvents" href="#events/{{subEv.ID}}/view" class="list-group-item">
                    <h4 class="hidden-lg hidden-md hidden-sm hidden-print">
                        <span class="label label-success">
                            {{subEv.EventStart | date: 'dd MMM h:mma'}} - {{subEv.EventEnd | date: 'dd MMM h:mm a'}}
                        </span>
                    </h4>
                    <h4 class="list-group-item-heading">
                        <strong>{{subEv.Title}}</strong>
                        <span class="label label-success pull-right hidden-xs">
                            {{subEv.EventStart | date: 'dd MMM h:mma'}} - {{subEv.EventEnd | date: 'dd MMM h:mm a'}}
                        </span>
                    </h4>
                    <p class="list-group-item-text">
                        {{subEv.EventSummary}}
                    </p>
                </a>
            </div>
        </div>
    </div>
    <hr class="hidden-sm hidden-xs" />
    <div class="row">
        <div class="col-md-6 col-print-6">
            <h3>Host Information</h3>
            <blockquote>
                <p>
                    {{event.HostInformation}}
                </p>
            </blockquote>
        </div>
        <div class="col-md-6 col-print-6">
            <h3>Venue Information</h3>
            <blockquote>
                <p>
                    {{event.VenueInformation}}
                </p>
            </blockquote>
        </div>
        <div class="clearfix"></div>
    </div>
    <hr class="hidden-sm hidden-xs" />
    <div class="row">
        <div class="col-md-6 col-print-6">
            <h3>Participants & Attendees</h3>
            <div class="hidden-print" style="margin-bottom:20px;">
                <a href="mailto:{{event.LeadParticipant.get_email()}}?Subject=Re. {{event.Title}}">
                    <h2>
                        <span class="label label-info">
                            <span class="glyphicon glyphicon-star"></span>
                            {{event.LeadParticipant.get_lookupValue()}}
                        </span>
                    </h2>
                </a>
            </div>
            <div class="hidden-print" ng-if="event.attendees.length > 0">
                <table class="table attend-table" style="margin-bottom:0;">
                    <thead>
                        <tr>
                            <th>Attendee</th>
                            <th style="text-align:right;">Confirmed?</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="user in event.attendees">
                            <td>
                                {{user.FirstName}} {{user.LastName}} <i class="hidden-xs" ng-if="user.Company">- {{user.Company}}</i>
                                <i class="glyphicon glyphicon-info-sign clickable" ng-click="attendeeDetails(user)" title="Attendee Details"></i>
                            </td>
                            <td>
                                <div class="switch pull-right">
                                    <!--[if lte IE 9]>
                                        <input ng-change="toggleAttendance(user)" ng-model="user.AttendanceConfirmed" id="cmn-toggle-{{user.ID}}" type="checkbox">
                                    <![endif]-->
                                    <!--[if gt IE 9]>
                                        <input ng-change="toggleAttendance(user)" ng-model="user.AttendanceConfirmed" id="cmn-toggle-{{user.ID}}" class="cmn-toggle cmn-toggle-yes-no" type="checkbox">
                                        <label for="cmn-toggle-{{user.ID}}" data-on="Yes" data-off="No"></label>
                                    <![endif]-->
                                    <!--[if !IE]> -->
                                        <input ng-change="toggleAttendance(user)" ng-model="user.AttendanceConfirmed" id="cmn-toggle-{{user.ID}}" class="cmn-toggle cmn-toggle-yes-no" type="checkbox">
                                        <label for="cmn-toggle-{{user.ID}}" data-on="Yes" data-off="No"></label>
                                    <!-- <![endif]-->
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="visible-print">
                <table class="table table-striped">
                    <tbody>
                        <tr><td><strong>{{event.LeadParticipant.get_lookupValue()}}</strong></td></tr>
                        <tr ng-repeat="user in event.attendees">
                            <td>{{user.FirstName}} {{user.LastName}} <i ng-if="user.Company">- {{user.Company}}</i></td>
                            <td>{{user.AttendenceConfirmed}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-6 col-print-6">
            <h3>Stakeholders</h3>
            <table class="table table-striped">
                <tbody>
                    <tr ng-repeat="sh in event.Stakeholders">
                        <td>{{sh}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="clearfix"></div>
    </div>
    <hr class="hidden-sm hidden-xs" />
    <div class="row">
        <div class="col-md-6 col-print-12">
            <h3>Purpose</h3>
            <div ng-bind-html="event.EventPurpose | rawHtml">
            </div>
        </div>
        <div class="col-md-6 col-print-12">
            <h3>Agenda</h3>
            <div ng-bind-html="event.Agenda | rawHtml">
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="row">
        <div class="col-md-6 col-print-12">
            <h3>Deliverables</h3>
            <div ng-bind-html="event.Deliverables | rawHtml">
            </div>
        </div>
        <div class="col-md-6 col-print-12">
            <h3>Schedule</h3>
            <div ng-bind-html="event.Schedule | rawHtml">
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
