﻿<div class="row">
    <div class="col-sm-9">
        <h3>Published Events</h3>
    </div>
    <div class="col-sm-3">
    </div>
</div>
<hr />
<div class="row">
    <div class="event-filter-panel">
        <!--<div class="tile-wrapper">-->
        <div class="col-md-3 col-sm-6 col-xs-6">
            <div class="tile tile-light-blue filter-tile" ng-click="filterResults('all')">
                <div class="img">
                    <i class="glyphicon glyphicon-list-alt"></i>
                </div>
                <div class="content">
                    <p class="big hidden-sm hidden-xs">All Events</p>
                    <p class="big hidden-lg hidden-md">All</p>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-6">
            <div class="tile tile-light-blue filter-tile" ng-click="filterResults('upcoming')">
                <div class="img">
                    <i class="glyphicon glyphicon-th-list"></i>
                </div>
                <div class="content">
                    <p class="big hidden-sm hidden-xs">Upcoming Events</p>
                    <p class="big hidden-lg hidden-md">Upcoming</p>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-6">
            <div class="tile tile-light-blue filter-tile" ng-click="filterResults('my')">
                <div class="img">
                    <i class="glyphicon glyphicon-user"></i>
                </div>
                <div class="content">
                    <p class="big hidden-sm hidden-xs">My Events</p>
                    <p class="big hidden-lg hidden-md">My</p>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-6">
            <div class="tile tile-light-blue filter-tile" ng-click="filterResults('previous')">
                <div class="img">
                    <i class="glyphicon glyphicon-saved"></i>
                </div>
                <div class="content">
                    <p class="big hidden-sm hidden-xs">Previous Events</p>
                    <p class="big hidden-lg hidden-md">Previous</p>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <!--</div>-->
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="btn-group pull-right">
            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false" style="float:left;">
                    <span class="hidden-xs">Filter by </span>Event Type <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li ng-repeat="eType in eventTypes">
                        <a href="" ng-click="typeFilter(eType)">{{eType}}</a>
                    </li>
                </ul>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false" style="margin-left:10px; float:left;">
                    <span class="hidden-xs">Filter by </span>Location <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li ng-repeat="location in locations">
                        <a href="" ng-click="locationFilter(location)">{{location}}</a>
                    </li>
                </ul>
            </div>
            <button type="button" style="margin-left:10px; float:left;" class="btn btn-default" ng-click="clearFilter()">
                Clear
            </button>
        </div>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-12">
        <span class="col-md-12 alert alert-info" ng-if="events.length == 0">No Events Found...</span>
    </div>
    <div class="col-md-3" ng-repeat="event in events">
        <div class="panel panel-default event-tile">
            <h3 class="text-center event-date">
                <span class="label label-info">
                    {{event.EventStart | date:'MMM d'}} - {{event.EventEnd | date:'MMM d'}}
                </span>
            </h3>
            <h3 class="text-center event-status-index">
                <span ng-if="event.EventStatus == 'Draft'" class="label label-info">{{event.EventStatus}}</span>
                <span ng-if="event.EventStatus == 'Pending Approval'" class="label label-warning">{{event.EventStatus}}</span>
                <span ng-if="event.EventStatus == 'Published'" class="label label-success">{{event.EventStatus}}</span>
                <span ng-if="event.EventStatus == 'Rejected'" class="label label-danger">{{event.EventStatus}}</span>
            </h3>
            <div class="thumbnail thumbnail-cropped">
                <div class="overlay" ng-click="viewEvent(event.ID)"></div>
                <img class="img-responsive" alt="a" ng-src="{{event.Image}}">
            </div>
            <div class="row">
                <div class="col-md-12">
                    <strong>{{event.Title}}</strong><br>
                    <em>{{event.ParentLocation}}</em><br>
                    <span class="small">{{event.EventStart | date:'hh:mm a'}} - {{event.EventEnd | date:'hh:mm a'}}</span>
                </div>
            </div>
        </div>
    </div>
</div>

