﻿<div class="row">
    <div class="col-md-12">
        <h3>Event Calendar</h3>
    </div>
</div>
<hr />
<div class="row" ui-calendar>
    <div class="col-md-8 hidden-xs">
        <div style="padding-left:0;" class="col-md-6">
            <button class="btn btn-success" ng-click="changeView('basicDay', $event)">Day</button>
            <button style="margin-left:10px;" class="btn btn-success" ng-click="changeView('basicWeek', $event)">Week</button>
            <button style="margin-left:10px;" class="btn btn-success" ng-click="changeView('month', $event)">Month</button>
        </div>
        <div class="col-md-6" style="padding-right:0;">
            <button class="btn btn-info pull-right" style="margin-left:10px;" ng-click="filterEvents('all', $event)">
                <span class="glyphicon glyphicon-list"></span> All Events
            </button>
            <button class="btn btn-info pull-right" ng-click="filterEvents('my', $event)">
                <span class="glyphicon glyphicon-user"></span> My Events
            </button>
        </div>
        <div class="clearfix"></div>
        <br />

    </div>
    <div class="col-md-12 hidden-lg hidden-md hidden-sm">
        <div class="btn-group" style="margin-bottom:15px; width:100%">
            <button class="btn btn-success even-dist" ng-click="changeView('basicDay', $event)">Day</button>
            <button class="btn btn-success even-dist" ng-click="changeView('basicWeek', $event)">Week</button>
            <button class="btn btn-success even-dist" ng-click="changeView('month', $event)">Month</button>
            <button class="btn btn-info even-dist" ng-click="filterEvents('all', $event)">
                <span class="glyphicon glyphicon-list"></span> All
            </button>
            <button class="btn btn-info even-dist" ng-click="filterEvents('my', $event)">
                <span class="glyphicon glyphicon-user"></span> My
            </button>
        </div>

    </div>
    <div class="clearfix"></div>
    <div class="col-md-8">
        <div class="calendar"></div>
    </div>
    <div class="col-md-4 hidden-xs">
        <div class="list-group">
            <a ng-repeat="e in events" href="#events/{{e.id}}/view" class="list-group-item">
                {{e.title}}: {{e.start | date:"MMM dd"}} - {{e.end | date:"MMM dd"}}
            </a>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
