﻿<div class="row">
    <div class="col-md-12">
        <h3 ng-if="!event.ID && !event.ParentEvent">Create New Event</h3>
        <h3 ng-if="event.ID && !event.ParentEvent">Edit Event</h3>
        <h3 ng-if="event.ID && event.ParentEvent">Edit Sub Event</h3>
        <h3 ng-if="!event.ID && event.ParentEvent">Create Sub Event</h3>
    </div>
</div>
<div class="row">
    <section>
        <div class="wizard">
            <div class="wizard-inner">
                <div class="connecting-line"></div>
                <ul class="nav nav-tabs" role="tablist">

                    <li role="presentation" class="active" data-step="step1">
                        <a ng-click="showStep('step1', $event)" href="" data-toggle="tab" aria-controls="step1" role="tab" title="Step 1">
                            <span class="round-tab">
                                <i class="glyphicon glyphicon-pencil"></i>
                            </span>
                        </a>
                    </li>

                    <li role="presentation" class="{{event.ID ? '' : 'disabled'}}" data-step="step2">
                        <a ng-click="showStep('step2', $event)" href="" data-toggle="tab" aria-controls="step2" role="tab" title="Step 2">
                            <span class="round-tab">
                                <i class="glyphicon glyphicon-list-alt"></i>
                            </span>
                        </a>
                    </li>

                    <li role="presentation" class="{{event.ID ? '' : 'disabled'}}" data-step="step3">
                        <a ng-click="showStep('step3', $event)" href="" data-toggle="tab" aria-controls="step3" role="tab" title="Step 3">
                            <span class="round-tab">
                                <i class="glyphicon glyphicon-list"></i>
                            </span>
                        </a>
                    </li>

                    <li role="presentation" class="{{event.ID ? '' : 'disabled'}}" data-step="complete">
                        <a ng-click="showStep('complete', $event)" href="" data-toggle="tab" aria-controls="complete" role="tab" title="Complete">
                            <span class="round-tab">
                                <i class="glyphicon glyphicon-ok"></i>
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
            <!--<form class="form-horizontal">-->
            <div class="tab-content col-md-8 col-sm-12 col-xs-12 center-block" ng-form name="wizardForm">
                <div class="tab-pane active" role="tabpanel" id="step1">
                    <br />
                    <!-- Text input-->
                    <div class="form-group" show-errors>
                        <label class="col-md-6 control-label" for="Title">What is your Event called?</label>
                        <div class="col-md-6">
                            <input id="Title" name="Title" type="text" required ng-model="event.Title" placeholder="Event Title" class="form-control input-md">
                            <p class="help-block">You must provide an Event Title.</p>
                        </div>
                        <div class="clearfix"></div>
                    </div>

                    <!-- Textarea -->
                    <div class="form-group">
                        <label class="col-md-6 control-label" for="EventSummary">Give us a brief summary of the Event</label>
                        <div class="col-md-6">
                            <textarea class="form-control" id="EventSummary" ng-model="event.EventSummary" name="EventSummary"></textarea>
                        </div>
                        <div class="clearfix"></div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group" show-errors>
                        <label class="col-md-6 control-label">When does the Event start?</label>
                        <div class="col-md-6 input-group date">
                            <input class="form-control ng-valid ng-isolate-scope ez-datetime-control ng-touched ng-dirty"
                                   type="text"
                                   ez-datetime-control=""
                                   ng-model="event.EventStart"
                                   max-date="event.EventEnd"
                                   placeholder="Select a start date and time..."
                                   ng-change="modelChanged()"
                                   name="EventStart"
                                   required>
                            <p class="help-block">You must provide a Start Date.</p>
                        </div>
                        <div class="clearfix"></div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group" show-errors>
                        <label class="col-md-6 control-label">When does the Event end?</label>
                        <div class="col-md-6 input-group date">
                            <input class="form-control ng-valid ng-isolate-scope ez-datetime-control ng-touched ng-dirty"
                                   type="text"
                                   ez-datetime-control=""
                                   ng-model="event.EventEnd"
                                   min-date="event.EventStart"
                                   placeholder="Select an end date and time..."
                                   ng-change="modelChanged()"
                                   name="EventEnd"
                                   required>
                            <p class="help-block">You must provide an End Date.</p>
                        </div>
                        <div class="clearfix"></div>
                    </div>

                    <!-- Select Basic -->
                    <div class="form-group">
                        <label class="col-md-6 control-label" for="EventType">What type of Event is this?</label>
                        <div class="col-md-6">
                            <select id="EventType" name="EventType" ng-options="c.Title for c in eventTypes"
                                    ng-model="event.EventType" class="form-control"></select>
                        </div>
                        <div class="clearfix"></div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-6 control-label" for="ParentLocation">Where is the Event located</label>
                        <div class="col-md-6">
                            <input id="ParentLocation" name="ParentLocation" type="text" ng-model="event.ParentLocation"
                                   placeholder="Event Location" class="form-control input-md">
                        </div>
                        <div class="clearfix"></div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-6 control-label" for="LeadParticipant">Who is the lead person for the Event?</label>
                        <div class="col-md-6">
                            <div ui-People ng-model="event.LeadParticipant" pp-ready-to-load="{{loadComplete}}"
                                 pp-is-multiuser="{{false}}" pp-account-type="User" id="LeadParticipant"></div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-6 control-label" for="AdditionalParticipants">Who else from your organisation will participate?</label>
                        <div class="col-md-6">
                            <div ui-People ng-model="event.AdditionalParticipants" pp-ready-to-load="{{loadComplete}}"
                                 pp-is-multiuser="{{true}}" pp-account-type="User" id="AdditionalParticipants"></div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="form-group" ng-if="!event.ParentEvent">
                        <label class="col-md-6 control-label" for="NominatedApprovers">Who will be approving this Event?</label>
                        <div class="col-md-6">
                            <div ui-People ng-model="event.NominatedApprovers" pp-ready-to-load="{{loadComplete}}"
                                 pp-is-multiuser="{{true}}" pp-account-type="User" id="NominatedApprovers"></div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-6 control-label">Event Attendees</label>
                        <div class="clearfix"></div>
                        <attendee-form></attendee-form>
                    </div>
                    <div class="clearfix"></div>
                    <ul class="list-inline pull-right">
                        <li><button type="button" class="btn btn-primary next-step" ng-click="nextStep()">Next</button></li>
                    </ul>
                </div>
                <div class="tab-pane" role="tabpanel" id="step2">
                    <br />
                    <!-- Textarea -->
                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="control-label" for="Stakeholders">Who are the primary stakeholders for the Event?</label>
                            <input type="text" class="form-control stakeholder-manager" ng-model="event.Stakeholders"
                                   id="Stakeholders" name="Stakeholders" data-tokens="{{event.Stakeholders ? event.Stakeholders : ''}}" />
                        </div>
                        <div class="clearfix"></div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="control-label" for="EventPurpose">What is the purpose of this Event?</label>
                            <textarea class="form-control" wysiwyg editor-config="{{trumboConf}}" id="EventPurpose" name="EventPurpose" ng-model="event.EventPurpose"></textarea>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <!-- Textarea -->
                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="control-label" for="Agenda">What is the agenda for the Event?</label>
                            <textarea class="form-control" wysiwyg editor-config="{{trumboConf}}" id="Agenda" name="Agenda" ng-model="event.Agenda"></textarea>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <!-- Textarea -->
                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="control-label" for="Deliverables">What are the desired deliverables / outcomes for the Event</label>
                            <textarea class="form-control" wysiwyg editor-config="{{trumboConf}}" id="Deliverables" name="Deliverables" ng-model="event.Deliverables"></textarea>
                        </div>
                        <div class="clearfix"></div>
                    </div>

                    <!-- Textarea -->
                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="control-label" for="Schedule">What is the schedule for the Event?</label>
                            <textarea class="form-control" wysiwyg editor-config="{{trumboConf}}" id="Schedule" name="Schedule" ng-model="event.Schedule"></textarea>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <ul class="list-inline pull-right">
                        <li><button type="button" class="btn btn-primary prev-step" ng-click="prevStep()">Previous</button></li>
                        <li><button type="button" class="btn btn-primary next-step" ng-click="nextStep()">Next</button></li>
                    </ul>
                </div>
                <div class="tab-pane" role="tabpanel" id="step3">
                    <br />
                    <!-- Textarea -->
                    <div class="form-group">
                        <label class="col-md-6 control-label" for="HostInformation">Tell us some more about the Event's host</label>
                        <div class="col-md-6">
                            <textarea class="form-control" id="HostInformation" name="HostInformation" ng-model="event.HostInformation"></textarea>
                        </div>
                        <div class="clearfix"></div>
                    </div>

                    <!-- Textarea -->
                    <div class="form-group">
                        <label class="col-md-6 control-label" for="VenueInformation">Tell us some more about the Event's venue</label>
                        <div class="col-md-6">
                            <textarea class="form-control" id="VenueInformation" name="VenueInformation" ng-model="event.VenueInformation"></textarea>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <ul class="list-inline pull-right">
                        <li><button type="button" class="btn btn-primary prev-step" ng-click="prevStep()">Previous</button></li>
                        <li><button type="button" class="btn btn-primary next-step" ng-click="nextStep()">Next</button></li>
                    </ul>
                </div>
                <div class="tab-pane" role="tabpanel" id="complete">
                    <br />
                    <p>All steps have been completed, would you like to save the Event now?</p>
                    <ul class="list-inline pull-right">
                        <li><button type="button" class="btn btn-primary prev-step" ng-click="prevStep()">Previous</button></li>
                        <li><button type="button" class="btn btn-primary next-step" ng-click="saveEvent()">Save Event</button></li>
                    </ul>
                </div>
                <div class="clearfix"></div>
            </div>
            <!--</form>-->
        </div>
    </section>
</div>