﻿/* custom template */
html, body {
    height: 100%;
    font-family: verdana,arial,sans-serif;
    color: #555555;
}

.app-body p, .app-body h1, .app-body h2, .app-body h3, .app-body h4, .app-body {
    font-family: 'Crimson Text', serif;
    !important;
}

.no-top-margin {
    margin-top: 0 !important;
}

.nav {
    font-family: 'Crimson Text', serif;
    font-size: 16px;
}

a {
    color: #222222;
}

    a:hover {
        text-decoration: none;
    }

hr {
    border-color: #dedede;
}

.wrapper, .row {
    height: 100%;
    margin-left: 0;
    margin-right: 0;
}

.center-block {
    float: none;
}

.wrapper:before, .wrapper:after,
.column:before, .column:after {
    content: "";
    display: table;
}

.wrapper:after,
.column:after {
    clear: both;
}

.column {
    height: 100%;
    overflow: auto;
    *zoom: 1;
}

.event-participant {
    display: inline-block;
    margin-top: 5px;
}

@media (min-width: 768px) {
    .column .padding {
        padding: 0 20px;
        
    }
}

.box {
    bottom: 0; /* increase for footer use */
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    background-color: #444444;
    /*
    background-image:url('/assets/example/bg_suburb.jpg');
    background-size:cover;
    background-attachment:fixed;
  */
}

.divider {
    margin-top: 32px;
}



.navbar-blue {
    border-width: 0;
    background-color: #3B5999;
    color: #ffffff;
    font-family: arial,sans-serif;
    width: inherit;
}

    .navbar-blue li > a, .navbar-toggle {
        color: #efefef;
    }

    .navbar-blue .dropdown-menu li a {
        color: #2A4888;
    }

    .navbar-blue .dropdown-menu li > a {
        padding-left: 30px;
    }

    .navbar-blue li > a:hover, .navbar-blue li > a:focus, .navbar-blue .open, .navbar-blue .open > a, .navbar-blue .open > a:hover, .navbar-blue .open > a:focus {
        background-color: #2A4888;
        color: #fff;
    }

#main {
    /*background-color:#f9f9f9;*/ background-color: white;
    padding-left: 0;
    padding-right: 0;
    overflow-y: scroll;
}

    #main .img-circle {
        margin-top: 18px;
        height: 70px;
        width: 70px;
    }

#sidebar {
    padding: 0px;
    padding-top: 15px;
}

    #sidebar, #sidebar a, #sidebar-footer a {
        color: #ffffff;
        background-color: transparent;
        text-shadow: 0 0 2px #000000;
        padding-left: 5px;
    }

        #sidebar .nav li > a:hover {
            background-color: #393939;
        }

.logo {
    display: block;
    padding: 3px;
    background-color: #fff;
    color: #3B5999;
    height: 28px;
    width: 28px;
    margin: 9px;
    margin-right: 2px;
    margin-left: 15px;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 0 1px;
    border-radius: 0;
}

#sidebar-footer {
    background-color: #444;
    position: absolute;
    bottom: 5px;
    padding: 5px;
}

#footer {
    margin-bottom: 20px;
}

/* bootstrap overrides */

h1, h2, h3 {
    font-weight: 800;
}

.navbar-toggle{
    float: none;
}

.navbar-toggle, .close {
    outline: 0;
}

    .navbar-toggle .icon-bar {
        background-color: #fff;
    }

.btn-primary, .label-primary, .list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
    background-color: #3B5999;
    color: #fffffe;
}

.btn-default {
    color: #666666;
    text-shadow: 0 0 1px rgba(0,0,0,.3);
}

.form-control {
}

.panel textarea, .well textarea, textarea.form-control {
    resize: none;
}

.badge {
    color: #3B5999;
    background-color: #fff;
}

    .badge:hover, .badge-inverse {
        background-color: #3B5999;
        color: #fff;
    }

.jumbotron {
    background-color: transparent;
}

.label-default {
    background-color: #dddddd;
}

.page-header {
    margin-top: 55px;
    padding-top: 9px;
    border-top: 1px solid #eeeeee;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.panel-default .panel-heading {
    background-color: #f9fafb;
    color: #555555;
}

.col-sm-9.full {
    width: 100%;
}

small.text-muted {
    font-family: courier,courier-new,monospace;
}

/* adjust the contents on smaller devices */
@media (max-width: 768px) {

    .column {
        padding: 7px;
    }
     .padding{
         padding: 0;
         position: relative;
        top: 60px;
     }
     #suiteBarDelta{
         display:none;
     }
     #s4-ribbonrow{
         display:none;
     }

    .navbar-blue {
        background-color: #3B5999;
        top: 0;
        width: 100%;
    }
    .navbar-static-top{
    position: fixed;
}
}

/* ============================================================
  YES/NO TOGGLE
============================================================ */
.cmn-toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}
.cmn-toggle + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
input.cmn-toggle-yes-no + label {
  padding: 2px;
  width: 70px;
  height: 30px;
}
input.cmn-toggle-yes-no + label:before, input.cmn-toggle-yes-no + label:after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  color: #fff;
  font-family: "Roboto Slab", serif;
  font-size: 20px;
  text-align: center;
}
input.cmn-toggle-yes-no + label:before {
  background-color: #dddddd;
  content: attr(data-off);
  -webkit-transition: -webkit-transform 0.5s;
  -moz-transition: -moz-transform 0.5s;
  -o-transition: -o-transform 0.5s;
  transition: transform 0.5s;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}
input.cmn-toggle-yes-no + label:after {
  background-color: #8ce196;
  content: attr(data-on);
  -webkit-transition: -webkit-transform 0.5s;
  -moz-transition: -moz-transform 0.5s;
  -o-transition: -o-transform 0.5s;
  transition: transform 0.5s;
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}
input.cmn-toggle-yes-no:checked + label:before {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
input.cmn-toggle-yes-no:checked + label:after {
  -webkit-transform: rotateY(0);
  -moz-transform: rotateY(0);
  -ms-transform: rotateY(0);
  -o-transform: rotateY(0);
  transform: rotateY(0);
}

/*
 * off canvas sidebar
 * --------------------------------------------------
 */
@media screen and (max-width: 768px) {
    
    .row-offcanvas {
        position: relative;
        -webkit-transition: all 0.25s ease-out;
        -moz-transition: all 0.25s ease-out;
        transition: all 0.25s ease-out;
    }

    .row-offcanvas-left.active {
        left: 33%;
    }

        .row-offcanvas-left.active .sidebar-offcanvas {
            left: -33%;
            position: absolute;
            top: 0;
            width: 33%;
            margin-left: 5px;
        }

    #sidebar, #sidebar a, #sidebar-footer a {
        padding-left: 3px;
    }
}

.ev-search {
    max-width: 250px;
    float: left;
    margin: .7%;
}


/*******************LOADING SPINNER*****************/
.loading .loading-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 9999;
    width: 100%;
    right: 0;
    -webkit-animation: loadingStart 3s 300ms linear 1 both;
    -moz-animation: loadingStart 3s 300ms linear 1 both;
    -o-animation: loadingStart 3s 300ms linear 1 both;
    animation: loadingStart 3s 300ms linear 1 both;
    background: rgba(0, 0, 0, 0.3);
    text-align: center;
}

.loading .loading-text {
    font-size: 0.875rem;
    line-height: 1.3125rem;
    text-shadow: white 0 0 1em, white 0 0 0.5em, white 0 0 0.25em;
    position: relative;
    display: block;
    text-transform: uppercase;
    font-weight: bold;
}

    .loading .loading-text:after {
        content: "...";
    }

.loading .loading-spinner {
    position: absolute;
    top: 50%;
    bottom: 0;
    left: 0;
    right: 0;
    margin: -3.9375rem auto 0;
    color: #1a1d1d;
    text-align: center;
}

.loading .loading-icon {
    font-size: 4.8125rem;
    line-height: 5.25rem;
    text-shadow: rgba(255, 255, 255, 0.75) 0 0 0.5em;
    -webkit-animation: loading 1s steps(4) infinite;
    -moz-animation: loading 1s steps(4) infinite;
    -o-animation: loading 1s steps(4) infinite;
    animation: loading 1s steps(4) infinite;
    display: block;
    vertical-align: middle;
}

    .loading .loading-icon:before {
        vertical-align: middle;
        content: url(../Images/spinner.gif);
        font-family: "demo";
    }


/**************Event Index Header************/
/*.index-header-wrapper{
    position: relative;
    top: -20px;
    left: -3%;
    width: 103%;
}*/
.index-header-wrapper h3 {
    font-weight: 400;
    margin-top: 0;
}

.index-header-wrapper > div:first-child {
    padding-left: 0;
}

.index-header-wrapper .new-event i {
    font-size: 37px;
    color: white;
    margin-left: -1px;
    margin-top: -1px;
}

.index-header-wrapper .new-event span {
    position: relative;
    top: -12px;
}

/*********************FILTER TILES********************/
.tile-wrapper {
    height: 100px;
    position: relative;
    left: -3%;
    padding-top: 25px;
    width: 106%;
    margin-bottom: 30px;
}

.filter-tile {
    cursor: pointer;
    box-shadow: 1px 1px 1px #888888;
}

    .filter-tile:hover {
        opacity: 0.7;
    }

.tile {
    display: block;
    position: relative;
    height: 50px;
    padding: 10px;
    margin-bottom: 20px;
    color: #fff;
    overflow: hidden;
}

.tile-light-blue {
    background-color: #337ab7;
}

.tile-blue {
    background-color: #5772AD;
}

.tile-dark-blue {
    background-color: #3B5999;
}

.tile-red {
    background-color: #b9231f;
}

.tile-orange {
    background-color: #f0ad4e;
}

.tile-pink {
    background-color: #c7266c;
}

.tile-magenta {
    background-color: #8b4787;
}

.tile-green {
    background-color: #449d44;
}

.tile-lime {
    background-color: #65b11d;
}

.tile-gray {
    background-color: #888;
}

.tile-black {
    background-color: #000;
}

.tile-white {
    background-color: #fff;
    color: #444 !important;
}

.tile-yellow {
    background-color: #f3d240;
}

.tile-brown {
    background-color: #b5a291;
}

.tile .img {
    position: absolute;
    left: 10px;
}

.tile .content {
    position: absolute;
    right: 10px;
}

    .tile .content > p.big {
        font-size: 20px;
        margin-bottom: 0;
    }

    .tile .content > p {
        text-align: right;
    }

.tile p.title {
    font-size: 16px;
    margin-bottom: 2px;
}

.tile .img > [class*="glyphicon-"] {
    font-size: 30px;
}

.tile .img.img-bottom > [class*="glyphicon-"] {
    font-size: 20px;
}

.tile .img.img-center > [class*="glyphicon-"] {
    font-size: 30px;
}

/*********************PEOPLE PICKER HACKS********************/
.sp-peoplepicker-topLevel, .sp-peoplepicker-topLevelDisabled {
    width: 100%;
}
/* People Picker Modifications */
.sp-peoplepicker-autoFillContainer {
    z-index: 20;
    background-color: #fff;
}

.sp-peoplepicker-topLevel {
    background-color: #fff;
}

.sp-peoplepicker-topLevel {
    min-height: 34px;
}

/****************WIZARD STEP FORM****************/
.wizard {
    margin: 20px auto;
}

.wizard input, .wizard textarea{
    font-size: 17px;
}

    .wizard .nav-tabs {
        position: relative;
        /*margin: 40px auto;*/
        margin-bottom: 0;
        border-bottom-color: #e0e0e0;
    }

    .wizard > div.wizard-inner {
        position: relative;
    }

.connecting-line {
    height: 2px;
    background: #e0e0e0;
    position: absolute;
    width: 80%;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 50%;
    z-index: 1;
}

.wizard .nav-tabs > li.active > a, .wizard .nav-tabs > li.active > a:hover, .wizard .nav-tabs > li.active > a:focus {
    color: #555555;
    cursor: default;
    border: 0;
    border-bottom-color: transparent;
}

span.round-tab {
    width: 70px;
    height: 70px;
    line-height: 70px;
    display: inline-block;
    border-radius: 100px;
    background: #fff;
    border: 2px solid #e0e0e0;
    z-index: 2;
    position: absolute;
    left: 0;
    text-align: center;
    font-size: 25px;
}

    span.round-tab i {
        color: #555555;
    }

.wizard li.active span.round-tab {
    background: #fff;
    border: 2px solid #5bc0de;
}

    .wizard li.active span.round-tab i {
        color: #5bc0de;
    }

span.round-tab:hover {
    color: #333;
    border: 2px solid #333;
}

.wizard .nav-tabs > li {
    width: 25%;
}

.wizard li:after {
    content: " ";
    position: absolute;
    left: 46%;
    opacity: 0;
    margin: 0 auto;
    bottom: 0px;
    border: 5px solid transparent;
    border-bottom-color: #5bc0de;
    transition: 0.1s ease-in-out;
}

.wizard li.active:after {
    content: " ";
    position: absolute;
    left: 46%;
    opacity: 1;
    margin: 0 auto;
    bottom: 0px;
    border: 10px solid transparent;
    border-bottom-color: #5bc0de;
}

.wizard .nav-tabs > li a {
    width: 70px;
    height: 70px;
    margin: 20px auto;
    border-radius: 100%;
    padding: 0;
}

    .wizard .nav-tabs > li a:hover {
        background: transparent;
    }

.wizard .tab-pane {
    position: relative;
    padding-top: 0px;
}

.wizard h3 {
    margin-top: 0;
}

.form-group .help-block {
  display: none;
}

.form-group.has-error .help-block {
  display: block;
}
.twitter-typeahead{
    width: 100%;
}

.tt-menu {
    width: 350px;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
    padding: 10px;
}
.tt-suggestion:hover, .tt-cursor {
    cursor: pointer;
    color: #fff;
    background-color: #0097cf;
}

@media( max-width : 585px ) {

    .wizard {
        /*width: 90%;*/
        height: auto !important;
    }

    span.round-tab {
        font-size: 16px;
        width: 50px;
        height: 50px;
        line-height: 50px;
    }

    .wizard .nav-tabs > li a {
        width: 50px;
        height: 50px;
        line-height: 50px;
    }

    .wizard li.active:after {
        content: " ";
        position: absolute;
        left: 35%;
    }
}

/******CALENDAR OVERRIDES*******/
.even-dist{
    float:none !important;
    min-width: 19%;
}

/*********BOOTSTRAP CALLOUT**********/
.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
}

    .bs-callout h4 {
        margin-top: 0;
        margin-bottom: 5px;
    }

    .bs-callout p:last-child {
        margin-bottom: 0;
    }

    .bs-callout code {
    }

    .bs-callout + .bs-callout {
        margin-top: -5px;
    }

.bs-callout-default {
    border-left-color: #777;
}

    .bs-callout-default h4 {
        color: #777;
    }

.bs-callout-primary {
    border-left-color: #428bca;
}

    .bs-callout-primary h4 {
        color: #428bca;
    }

.bs-callout-success {
    border-left-color: #5cb85c;
}

    .bs-callout-success h4 {
        color: #5cb85c;
    }

.bs-callout-danger {
    border-left-color: #d9534f;
}

    .bs-callout-danger h4 {
        color: #d9534f;
    }

.bs-callout-warning {
    border-left-color: #f0ad4e;
}

    .bs-callout-warning h4 {
        color: #f0ad4e;
    }

.bs-callout-info {
    border-left-color: #5bc0de;
}

    .bs-callout-info h4 {
        color: #5bc0de;
    }

/**********EVENT CARD***********/

.overlay:hover {
    opacity: 1;
    cursor: pointer;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.35s ease;
    -webkit-transition: all 0.35s ease;
    -moz-transition: all 0.35s ease;
    -o-transition: all 0.35s ease;
    -ms-transition: all 0.35s ease;
    border-radius: inherit;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 999;
}

.overlay {
    background-color: rgba(33,154,200,0.75);
}

.event-tile {
    padding: 10px;
    height: 320px;
    position: relative;
}

    .event-tile .event-date {
        position: absolute;
        left: 50%;
        top: 0;
        bottom: 0;
        right: 0;
        margin-top: 5px;
    }

.event-status-index {
    position: absolute;
    margin-top: 0;
    z-index: 20;
    top: 5px;
    left: 10px;
}

/*********SEARCH STYLES***********/
.event-search-result {
    padding: 10px;
    position: relative;
}

.mb20 {
    margin-bottom: 20px;
}

hgroup {
    /*padding-left: 15px;*/
    border-bottom: 1px solid #ccc;
}

    hgroup h1 {
        color: #2a3644;
        margin-top: 0;
        line-height: 1.15;
    }

    hgroup h2.lead {
        color: #2a3644;
        margin: 0;
        padding-bottom: 10px;
    }

.search-result {
    padding-top: 15px;
    position: relative;
}

    .search-result:first-child {
        margin-top: 0 !important;
    }

.search-result {
    margin-top: 20px;
}

    .search-result ul {
        padding-left: 0 !important;
        list-style: none;
    }

        .search-result ul li {
            line-height: 30px;
        }

            .search-result ul li i {
                padding-right: 5px;
            }

    .search-result .col-md-7 {
        position: relative;
    }

    .search-result h3 {
        margin-top: 0 !important;
        margin-bottom: 10px !important;
    }

        .search-result h3 > a, .search-result i {
            color: #248dc1 !important;
        }

    .search-result p {
    }

    .search-result span.border {
        display: block;
        width: 97%;
        margin: 0 15px;
        border-bottom: 1px dotted #ccc;
    }

.event-status-search {
    position: absolute;
    z-index: 20;
    top: 10px;
    left: 10px;
}

.event-type-search {
    position: absolute;
    z-index: 20;
    top: 46px;
    left: 10px;
}

/*************DASHBOARD**************/
.main-box {
    background: #FFFFFF;
    box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
    margin-bottom: 16px;
    background-clip: padding-box;
    border: 1px solid #e7ebee;
}

    .main-box .main-box-header {
        min-height: 50px;
        padding: 10px 20px;
    }

    .main-box .main-box-body {
        padding: 0 20px 20px 20px;
    }

.graph-options li {
    list-style-type: none;
}

.panel-footer {
    background-color: #337ab7;
    color: white;
}

.summary-box {
}


/*******************GLOBALS**********************/
#s4-titlerow{
    display:none;
}

#s4-workspace{
    overflow-x: hidden;
}

.clickable {
    cursor: pointer;
}

.form-group *[class^='col-md-']{
    padding:0;
}

.rel-pos {
    position: relative;
}

.thumbnail-cropped {
    max-height: 165px;
    overflow-y: hidden;
    border: none;
}

.fc td {
    cursor: pointer;
}

.app-totals {
    margin: 0 5px 0 5px;
    font-size: 1.2em;
}

.fs11 {
    font-size: 15px;
}

.fs30 {
    margin-top: 5px;
}

.visible-print {
    display: none;
}


/*********PRINT CSS***********/
@media print {
    body {
        margin: 0mm 0mm 25mm 0mm;
    }

    #s4-titlerow{
    display:none !important;
}

    #main {
        overflow: visible;
    }

    .wrapper {
        display: inline;
    }

    h1, h2, h3, strong, th, .label {
        font-weight: 600;
    }

    hr {
        display: none;
    }

    .row {
        height: initial;
    }

    .btn {
        display: none;
    }

    .label, .list-group-item, blockquote {
        border: none;
        background-color: white;
    }

    blockquote, .list-group-item {
        padding: 0;
    }

    .app-content-area {
        padding-top: 0;
    }

    .col-print-1 {
        width: 8%;
        float: left;
    }

    .col-print-2 {
        width: 16%;
        float: left;
    }

    .col-print-3 {
        width: 25%;
        float: left;
    }

    .col-print-4 {
        width: 33%;
        float: left;
    }

    .col-print-5 {
        width: 42%;
        float: left;
    }

    .col-print-6 {
        width: 50%;
        float: left;
    }

    .col-print-7 {
        width: 58%;
        float: left;
    }

    .col-print-8 {
        width: 66%;
        float: left;
    }

    .col-print-9 {
        width: 75%;
        float: left;
    }

    .col-print-10 {
        width: 83%;
        float: left;
    }

    .col-print-11 {
        width: 92%;
        float: left;
    }

    .col-print-12 {
        width: 100%;
        float: left;
    }

    .visible-print {
        display: block;
    }

    .hidden-print {
        display: none;
    }
}
