﻿<div class="row">
    <div class="col-md-12">
        <h3>Admin Dashboard</h3>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="panel panel-tile text-center summary-box main-box">
            <div class="panel-body rel-pos">
                <div class="overlay" ng-click="viewEvents('AllUpcomingEvents')"></div>
                <h1 class="fs30 mt5 mbn">{{upcoming.events.length}}</h1>
                <h6 class="text-system">UPCOMING EVENTS</h6>
            </div>
            <div class="panel-footer br-t p12 rel-pos">
                <div class="overlay" ng-click="viewEvents('AllUpcomingEvents-week')"></div>
                <span class="fs11">
                    <i class="glyphicon glyphicon-time"></i>&nbsp;<b class="app-totals">{{upcoming.week.length}}</b> IN THE NEXT 7 DAYS
                </span>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="panel panel-tile text-center summary-box main-box">
            <div class="panel-body rel-pos">
                <div class="overlay" ng-click="viewEvents('CurrentEvents')"></div>
                <h1 class="fs30 mt5 mbn">{{allEvents.events.length}}</h1>
                <h6 class="text-warning">PUBLISHED EVENTS</h6>
            </div>
            <div class="panel-footer br-t p12 rel-pos">
                <div class="overlay" ng-click="viewEvents('CurrentEvents-week')"></div>
                <span class="fs11">
                    <i class="glyphicon glyphicon-duplicate"></i>&nbsp;<b class="app-totals">{{allEvents.week.length}}</b> PUBLISHED THIS WEEK
                </span>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="panel panel-tile text-center summary-box main-box">
            <div class="panel-body rel-pos">
                <div class="overlay" ng-click="viewEvents('AllCurrentDraftEvents')"></div>
                <h1 class="fs30 mt5 mbn">{{allDrafts.events.length}}</h1>
                <h6 class="text-success">DRAFT EVENTS</h6>
            </div>
            <div class="panel-footer br-t p12 rel-pos">
                <div class="overlay" ng-click="viewEvents('AllCurrentDraftEvents-week')"></div>
                <span class="fs11">
                    <i class="glyphicon glyphicon-plus"></i><b class="app-totals">{{allDrafts.week.length}}</b> CREATED THIS WEEK
                </span>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="panel panel-tile text-center summary-box main-box">
            <div class="panel-body rel-pos">
                <div class="overlay" ng-click="viewEvents('AllCurrentEventsInReview')"></div>
                <h1 class="fs30 mt5 mbn">{{allApprovals.events.length}}</h1>
                <h6 class="text-danger">EVENTS IN REVIEW</h6>
            </div>
            <div class="panel-footer rel-pos">
                <div class="overlay" ng-click="viewEvents('AllCurrentEventsInReview-rejected')"></div>
                <span class="fs11">
                    <i class="glyphicon glyphicon-remove"></i>&nbsp;<b class="app-totals">{{allApprovals.rejected.length}}</b> IN REJECTED STATUS
                </span>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="main-box">
            <header class="main-box-header clearfix">
                <h3>Events by Status - {{currentMonth}}</h3>
            </header>
            <div class="main-box-body clearfix">
                <canvas id="doughnut" class="chart chart-doughnut"
                    chart-data="statusData" chart-labels="statusLabels"></canvas> 
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="main-box">
            <header class="main-box-header clearfix">
                <h3>Published Events by Type - {{currentMonth}}</h3>
            </header>
            <div class="main-box-body clearfix">
                <canvas id="pie" class="chart chart-pie"
                    chart-data="typeData" chart-labels="typeLabels"></canvas>  
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-12 col-sm-12">
        <div class="main-box">
            <header class="main-box-header clearfix">
                <h3>Events by Month</h3>
            </header>
            <div class="main-box-body clearfix">
                <canvas id="line" class="chart chart-line" chart-data="monthData"
                    chart-labels="monthLabels" chart-legend="false" chart-series="monthSeries"></canvas> 
            </div>
        </div>
    </div>
</div>
