﻿<div class="row">
    <div class="col-md-12">
        <h3>My Dashboard</h3>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="panel panel-tile text-center summary-box main-box">
            <div class="panel-body rel-pos">
                <div class="overlay" ng-click="viewEvents('MyUpcomingEvents')"></div>
                <h1 class="fs30 mt5 mbn">{{upcoming.events.length}}</h1>
                <h6 class="text-system"> UPCOMING EVENTS INVOLVING ME</h6>
            </div>
            <div class="panel-footer br-t p12 rel-pos">
                <div class="overlay" ng-click="viewEvents('MyUpcomingEvents-lead')"></div>
                <span class="fs11">
                    <i class="glyphicon glyphicon-user"></i>&nbsp;<b class="app-totals">{{upcoming.me.length}}</b> I AM LEADING
                </span>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="panel panel-tile text-center summary-box main-box">
            <div class="panel-body rel-pos">
                <div class="overlay" ng-click="viewEvents('MyCurrentEvents')"></div>
                <h1 class="fs30 mt5 mbn">{{myEvents.events.length}}</h1>
                <h6 class="text-warning">PUBLISHED EVENTS AUTHORED BY ME</h6>
            </div>
            <div class="panel-footer br-t p12 rel-pos">
                <div class="overlay" ng-click="viewEvents('MyCurrentEvents-week')"></div>
                <span class="fs11">
                    <i class="glyphicon glyphicon-duplicate"></i>&nbsp;<b class="app-totals">{{myEvents.week.length}}</b> PUBLISHED THIS WEEK
                </span>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="panel panel-tile text-center summary-box main-box">
            <div class="panel-body rel-pos">
                <div class="overlay" ng-click="viewEvents('MyDraftEvents')"></div>
                <h1 class="fs30 mt5 mbn">{{myDrafts.events.length}}</h1>
                <h6 class="text-success">DRAFT EVENTS BELONG TO ME</h6>
            </div>
            <div class="panel-footer br-t p12 rel-pos">
                <div class="overlay" ng-click="viewEvents('MyDraftEvents-week')"></div>
                <span class="fs11">
                    <i class="glyphicon glyphicon-plus"></i><b class="app-totals">{{myDrafts.week.length}}</b> CREATED THIS WEEK
                </span>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="panel panel-tile text-center summary-box main-box">
            <div class="panel-body rel-pos">
                <div class="overlay" ng-click="viewEvents('MyEventsToApprove')"></div>
                <h1 class="fs30 mt5 mbn">{{myApprovals.events.length}}</h1>
                <h6 class="text-danger">EVENTS REQUIRING MY APPROVAL</h6>
            </div>
            <div class="panel-footer rel-pos">
                <div class="overlay" ng-click="viewEvents('MyEventsToApprove-overdue')"></div>
                <span class="fs11">
                    <i class="glyphicon glyphicon-warning-sign"></i>&nbsp;<b class="app-totals">{{myApprovals.overdue.length}}</b> OVERDUE FOR APPROVAL
                </span>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="main-box hidden-sm hidden-xs clearfix">
            <header class="main-box-header clearfix">
                <h3 class="pull-left">My Draft Events</h3>
            </header>
            <div class="main-box-body clearfix">
                <div class="table-responsive clearfix">
                    <table class="table table-hover table-striped">
                        <thead>
                            <tr>
                                <th><span>Title</span></th>
                                <th><span>Type</span></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-if="myDrafts.events.length == 0"><td>You have no draft Events</td><td></td></tr>
                            <tr class="clickable" ng-repeat="event in myDrafts.events" ng-click="viewEvent($event, event.ID)">
                                <td>{{event.Title}}</td>
                                <td>{{event.EventType}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            
        </div>
        <div class="hidden-lg hidden-md">
            <h3>My Draft Events</h3>
            <div class="list-group">
                <a ng-repeat="e in myDrafts.events" href="#events/{{e.ID}}/view" class="list-group-item">
                    {{e.Title}}
                </a>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="main-box hidden-sm hidden-xs clearfix">
            <header class="main-box-header clearfix">
                <h3 class="pull-left">Events to Approve</h3>
            </header>
            <div class="main-box-body clearfix">
                <div class="table-responsive clearfix">
                    <table class="table table-hover table-striped">
                        <thead>
                            <tr>
                                <th><span>Title</span></th>
                                <th><span>Type</span></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-if="myApprovals.events.length == 0"><td>You have no Events to approve</td><td></td></tr>
                            <tr class="clickable" ng-repeat="event in myApprovals.events" ng-click="viewEvent($event, event.ID)">
                                <td>{{event.Title}}</td>
                                <td>{{event.EventType}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="hidden-lg hidden-md">
            <h3>Events to Approve</h3>
            <div class="list-group">
                <a ng-repeat="e in myApprovals.events" href="#events/{{e.ID}}/view" class="list-group-item">
                    {{e.Title}}
                </a>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>