﻿<div class="col-md-6">
    <input data-list-filter="!" placeholder="Type and press enter to select an existing attendee"
           class="geo-autocomplete input-md form-control" autocomplete="off" type="text" />

</div>
<div class="col-md-6">
    <a class="btn btn-default add-attendee pull-right" ng-if="!editEnabled" ng-click="addAttendee()">
        <span class="glyphicon glyphicon-plus"></span> New Attendee
    </a>
</div>
<div class="clearfix"></div>

<br />
<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th class="hidden-sm hidden-xs">Job Title</th>
            <th class="hidden-xs">Company</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-if="event.attendees.length == 0"><td>No attendees here</td><td></td><td></td><td></td></tr>
        <tr ng-repeat="attendee in event.attendees">
            <td>{{attendee.FirstName}} {{attendee.LastName}}</td>
            <td class="hidden-sm hidden-xs">{{attendee.JobTitle}}</td>
            <td class="hidden-xs">{{attendee.Company}}</td>
            <td>
                <div class="pull-right">
                    <a class="btn btn-default remove-attendee"
                       ng-click="editAttendee(attendee)">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                    <a class="btn btn-danger remove-attendee"
                       ng-click="removeAttendee(attendee.ID)">
                        <span class="glyphicon glyphicon-trash"></span>
                    </a>
                </div>
            </td>
        </tr>
    </tbody>
</table>
<div class="well" ng-if="editEnabled">
    <ng-form name="attendeeForm" class="attendee-form">
        <div class="col-sm-6 form-group" show-errors>
            <label class="control-label" for="FirstName">First Name</label>
            <div>
                <input id="FirstName" name="FirstName" type="text" required ng-model="current.FirstName"
                       placeholder="First Name" class="form-control input-md">
                <p class="help-block" ng-show="attendeeForm.FirstName.$invalid">You must provide a First Name.</p>
            </div>
        </div>
        <div class="col-sm-6 form-group" show-errors>
            <label class="control-label" for="LastName">Last Name</label>
            <div>
                <input id="LastName" name="LastName" type="text" required ng-model="current.LastName"
                       placeholder="Last Name" class="form-control input-md">
                <p class="help-block" ng-show="attendeeForm.LastName.$invalid">You must provide a Last Name.</p>
            </div>
        </div>
        <div class="clearfix"></div>

        <div class="col-sm-6 form-group">
            <label class="control-label" for="EmailAddress">Email Address</label>
            <div>
                <input id="EmailAddress" name="EmailAddress" type="text" ng-model="current.EmailAddress"
                       placeholder="Email Address" class="form-control input-md">
            </div>
        </div>
        <div class="col-sm-6 form-group">
            <label class="control-label" for="Company">Company</label>
            <div>
                <input id="Company" name="Company" type="text" ng-model="current.Company"
                       placeholder="Company" class="form-control input-md">
            </div>
        </div>
        <div class="clearfix"></div>

        <div class="col-sm-6 form-group">
            <label class="control-label" for="JobTitle">Job Title</label>
            <div>
                <input id="JobTitle" name="JobTitle" type="text" ng-model="current.JobTitle"
                       placeholder="Job Title" class="form-control input-md">
            </div>
        </div>
        <div class="col-sm-6 form-group">
            <label class="control-label" for="Manager">Manager</label>
            <div>
                <input id="Manager" name="Manager" type="text" ng-model="current.Manager"
                       placeholder="Manager" class="form-control input-md">
            </div>
        </div>
        <div class="clearfix"></div>

        <div class="col-sm-6 form-group">
            <label class="control-label" for="RegisteredBy">Registered By</label>
            <div>
                <input id="RegisteredBy" name="RegisteredBy" type="text" ng-model="current.RegisteredBy"
                       placeholder="Registered By" class="form-control input-md">
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="col-sm-12">
            <div class="pull-right">
                <a class="btn btn-default" ng-click="cancelAdd()">
                    Cancel
                </a>
                <a class="btn btn-success" ng-click="pushCurrent()">
                    Save
                </a>
            </div>
            
        </div>
        <div class="clearfix"></div>
    </ng-form>
</div>

